# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo
.xmake/
.venv/
*.png
.ipynb_checkpoints/

# any throwaway agent files. codebase is mostly just me but i use AI to find and dump orbital elements, so some rules for units and all
GEMINI.md

# notebooks bloat up the project, while just being used sparingly. ignore
*.ipynb
notebooks/
